$mobile: 1479px;

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

.project-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  max-width: 1300px;
  width: 100%;
  margin: auto;

  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(black, 0.5);
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 100px;
    border: 2px solid black;
  }

  @media screen and (orientation: portrait) {
    height: calc(90vh - 250px);
  }

  @media screen and (orientation: landscape) {
    height: calc(100vh - 150px);
  }

  app-projectcard {
    display: grid;
    margin: auto;

    @media screen and (max-width: $mobile) and (orientation: portrait) {
      width: min(81vw, 600px);
      grid-template-columns: min(27vw, 200px) min(54vw, 400px);
      grid-template-rows: min(27vw, 200px);
      font-size: min(3vw, 20px);
    }
    @media screen and (max-width: $mobile) and (orientation: landscape) {
      width: min(57vw, 600px);
      grid-template-columns: min(19vw, 200px) min(38vw, 400px);
      grid-template-rows: min(19vw, 200px);
      font-size: min(2.1vw, 20px);
    }

    @media screen and (min-width: $mobile + 1) {
      grid-template-columns: min(30vw, 200px) min(60vw, 400px);
      grid-template-rows: min(30vw, 200px);
      font-size: min(3vw, 20px);
    }
  }
}
