<h1>My Projects</h1>
<div class="project-container">
  <app-projectcard
    title="Steam Roulette"
    blurb="A game archive and suggestion list for twitch.tv/justjershin"
    buttonType="view"
    [links]="[
      'https://jacob-ressler.github.io/steam-roulette',
      'https://github.com/jacob-ressler/steam-roulette'
    ]"
    thumbpath="../../../assets/projects/steamroulette.jpg"
  ></app-projectcard>
  <app-projectcard
    title="Chaturanga"
    blurb="A 4-player chess-like board game developed in Unity and available on the Google Play Store"
    buttonType="gplay"
    [links]="[
      'https://play.google.com/store/apps/details?id=com.Livid.Chaturanga',
      'https://github.com/jacob-ressler/chaturanga'
    ]"
    thumbpath="../../../assets/projects/chaturanga.png"
  >
  </app-projectcard>
  <app-projectcard
    title="Deepfake Countermeasure"
    blurb="A novel deepfake countermeasure, using steganography, facial detection, cryptography, and watermarking"
    buttonType=""
    [links]="[
      'https://github.com/jacob-ressler/deepfake-countermeasure/archive/refs/heads/main.zip',
      'https://github.com/jacob-ressler/deepfake-countermeasure'
    ]"
    thumbpath="../../../assets/projects/deepfakecountermeasure.jpg"
  ></app-projectcard>
  <app-projectcard
    title="Personal Webpage"
    blurb="A personal webpage developed for a class project"
    buttonType="view"
    [links]="[
      'https://play.google.com/store/apps/details?id=com.Livid.Chaturanga',
      'https://github.com/jacob-ressler/personal-page'
    ]"
    thumbpath="../../../assets/projects/personalpage.jpg"
  ></app-projectcard>
  <app-projectcard
    title="Fractal Tree Generator"
    blurb="A program for genenerating random customizable fractal trees"
    buttonType=""
    [links]="[
      'https://github.com/jacob-ressler/fractal-tree/releases/tag/v1.1',
      'https://github.com/jacob-ressler/fractal-tree'
    ]"
    thumbpath="../../../assets/projects/fractaltree.jpg"
  ></app-projectcard>
</div>
