:host {
  display: grid;
  // background-color: palegoldenrod;
  justify-content: center;
  align-items: center;

  font-size: 5vw;
  text-align: center;
  color: white;
  @media screen and (orientation: landscape) {
    font-size: 5vw;
  }
  @media screen and (orientation: portrait) {
    font-size: 8vw;
  }
}

.hidden {
  display: none;
}
