:host {
  display: grid;
  // background-color: palegoldenrod;
  justify-content: center;
  align-items: center;

  font-size: 5vw;
  text-align: center;
  color: white;
  @media screen and (orientation: landscape) {
    font-size: min(3vw, 50px);
  }
  @media screen and (orientation: portrait) {
    font-size: min(5vw, 50px);
  }

  h1 {
    padding-bottom: 0.3em;
  }
  p {
    font-size: 0.6em;
  }
}

.hidden {
  display: none;
}
